Arif-GCCS-Maven-20200823T183952Z-001/Arif-GCCS-Maven/CCS/CCS/schema/RIHResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="MDEResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Shipment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Shipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="awbNbr" minOccurs="0"/>
				<xs:element ref="origLocation" minOccurs="0"/>
				<xs:element ref="destLocation" minOccurs="0"/>
				<xs:element ref="shipDt" minOccurs="0"/>
				<xs:element ref="origCountry" minOccurs="0"/>
				<xs:element ref="destCountry" minOccurs="0"/>
				<xs:element ref="freightChargeAmt" minOccurs="0"/>
				<xs:element ref="shipperCompany" minOccurs="0"/>
				<xs:element ref="shipperNm" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="awbNbr" type="xs:string"/>
	<xs:element name="destCountry" type="xs:string"/>
	<xs:element name="destLocation" type="xs:string"/>
	<xs:element name="freightChargeAmt" type="xs:decimal"/>
	<xs:element name="origCountry" type="xs:string"/>
	<xs:element name="origLocation" type="xs:string"/>
	<xs:element name="shipDt" type="xs:string"/>
	<xs:element name="shipperCompany" type="xs:string"/>
	<xs:element name="shipperNm" type="xs:string"/>
</xs:schema>
